/* GENERAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(44, 41, 38);
}

img {
    max-width: 100%;
    height: auto;
}

/*CONTAINER*/
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 auto;
}

/* utilities */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

#header {
    height: 80px;
    background-color: rgb(29, 26, 24);
    display: flex;
    align-items: center;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo-link {
    font-size: 24px;
    font-weight: bold;
    color: rgb(238, 164, 80);
}

.nav__list {
    display: flex;
    gap: 2em;
}

.item__link {
    color: rgb(185, 131, 31);
    font-size: 20px;
}

.item__link:hover {
    color: hsl(39, 100%, 42%);
}

/* main  */
.main__headline {
    text-align: center;
    color: rgb(238, 164, 80);
    font-size: 48px;
}

#card__section {
    width: 80%;
}

#card__section ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.foot__item {
    background-color: rgb(228, 206, 182);
    border-radius: 6px;
    overflow: hidden;
}

.card__img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.food__item-content {
    padding: 1em;
    text-align: center;
    font-size: 2em;
}
h3{
    font-size:2em ;
    /* font-size: 200%; */
    font-size: 2rem;
}
.card__desc {
    margin-top: 0;
}

.card__link {
    background: rgb(228, 157, 44);
    color: white;
    border-radius: 4px;
    padding: 8px 24px;
}

.card__link:hover {
    background: rgb(221, 134, 34);
}

.food__item {}